samples/clicktodial/client/makecall.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1-b03-. -->
<xs:schema
	xmlns:tns="http://clicktodial.sample.sipmethod.micromethod.com/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
	targetNamespace="http://clicktodial.sample.sipmethod.micromethod.com/">

	<xs:element name="makeCall" type="tns:makeCall"></xs:element>

	<xs:element name="makeCallResponse" type="tns:makeCallResponse"></xs:element>

	<xs:complexType name="makeCall">
		<xs:sequence>
			<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
			<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="makeCallResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
